<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo de Média</title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');</style>
    <style>
        body { 
            font-family: 'Varela Round', sans-serif;    font-size: 15px; 
            background-color: rgb(66, 66, 66);
            color: white;
        }
    </style>
</head>
<body>
    <h1>Aprovado ou Reprovado?</h1>
    <div>
        <form method="get">
            <label for="n1">Primeira nota:</label> <br>
            <input type="text" name="n1"> <br>
            <label for="n2">Segunda nota:</label> <br>
            <input type="text" name="n2"> <br> <br>
            <input type="submit" value="Enviar">
        </form>
    </div>

    {% if resultado %}
    <br>
    <div>
        {{resultado}}
    </div>
    {% endif %}
</body>
</html>